h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
